In [1]:
%matplotlib inline
# The usual preamble
import pandas as pd
# Make the graphs a bit prettier, and bigger
pd.set_option('display.mpl_style', 'default') 
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)

In [2]:
import getpass
user = getpass.getuser()
path = '/home/{:}/Documents/thesis/data/LiteratureReview/TableWLE/'.format(user)
dbFile = 'wleLiterature.csv'
db = pd.read_csv(path+dbFile,sep='\t')
db=db[:-3]
db[:0]

Empty DataFrame
Columns: [Author, Year, Aerofoil, Notes, Re_min, Re_max, Cited, Experimental, Numerical, 3D, 2D, High Re, Low Re, Streamwise Vortices, Trough Separation, LSBs, High Velocity/Low pressure trough, VG, Delta wing, Compartimentalisation, Pre-stall, Post-Stall, Increased alpha max, Increased Cl_max, Reduced Fluctuations]
Index: []

In [11]:
is_2d = db['2D'] == 1
is_3d = db['3D'] == 1
is_sym = db['Aerofoil'].str.startswith('NACA00',na=False)
reEffect = db['Notes'].str.contains('Re',na=False)
is_postStall = db['Post-Stall'] == '1'
is_preStall = db['Pre-stall'] == '1'
isnot_postStall = db['Post-Stall'] == '0'
is_reducedFluc = db['Reduced Fluctuations'] == '1'
compart = db['Compartimentalisation'] == '1'
has_LSB = db['LSBs'] == '1'
has_SV = db['Streamwise Vortices'] == '1'
is_VG = db['VG'] == '1'
is_Delta = db['Delta wing'] == '1'

#selection = db[is_VG]
selection = db[is_Delta]

In [12]:
selection[['Author','Year','Cited','Notes','Re_min','Re_max']]

        Author  Year  Cited              Notes  Re_min  Re_max
3   Miklosovik  2007      1                NaN  274000  277000
10       Weber  2011      1  solver comparison  500000  500000
23         Wei  2015      0       Detailed PIV   14000   14000

In [9]:
id_reMin = db['Re_min'].idxmin()
id_reMax = db['Re_max'].idxmax()
db.loc[[id_reMin,id_reMax]][['Author','Re_min','Re_max']]

     Author  Re_min   Re_max
12   Favier     800      800
17  Dropkin  180000  3000000

In [6]:
db[['Author','Year','Re_min','Post-Stall','Pre-stall']]

         Author  Year   Re_min Post-Stall Pre-stall
0          Fish  1995      NaN          1         ?
1    Miklosovik  2004   500000          1         1
2        Johari  2007   183000          1         0
3    Miklosovik  2007   274000          1         0
4         Onzen  2010     1300          ?         ?
5        Hansen  2011   120000          1         0
6      Gerreiro  2012    70000          1         0
7         Zhang  2014   200000          1         0
8         Pedro  2008   500000          1         1
9          Yoon  2011  1000000          1         0
10        Weber  2011   500000          1         ?
11        Zhang  2012   100000          ?         1
12       Favier  2012      800          0         ?
13      Skillen  2014   120000          1         ?
14  Rostamzadeh  2014   120000          1         0
15          Lau  2013      NaN          ?         ?
16    vanNierop  2008      NaN          1         0
17      Dropkin  2012   180000          1         0
18  Rostamzadeh  2013   120000          1         0
19       Serson  2017     1000          0         0
20      Corsini  2013   183000          1         0
21          Cai  2013   200000          1         0
22     Custodio  2015    90000          1         1
23          Wei  2015    14000          ?         ?